* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient(circle at top, #0f2027, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.card {
  background: rgba(20, 40, 50, 0.9);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 320px;
  box-shadow: 0 0 40px #00ffcc44;
}

.card h1 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #ccc;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.upload {
  background: #00c9a7;
  color: black;
}

.check {
  background: #1fd1ff;
  color: black;
}

#result {
  margin-top: 15px;
  font-weight: bold;
}
